Repository materialsproject/emmet, pull requests merged in 2024-09, with the labels that each got.

#1085 add missing mypy directives for electronic structure
  emmet-core/emmet/core/electronic_structure.py
Labels: Core

#1091 fix logic bug in batch_id validatoin
  emmet-core/emmet/core/tasks.py
Labels: bug, Core, pydantic

#1110 Change name of interchange_meta -> mol_specs and add structure to MDTaskDocument
  emmet-core/emmet/core/openff/tasks.py
  emmet-core/emmet/core/openmm/tasks.py
Labels: Core, release:minor

#1112 update "R2SCAN" to "r2SCAN" to match enum convention
  emmet-core/emmet/core/thermo.py
  emmet-core/emmet/core/vasp/material.py
  emmet-core/tests/vasp/test_vasp.py
Labels: Core

#1117 update elasticity builder asserts
  emmet-builders/tests/test_elasticity.py
Labels: Builders, ci

#1121 Remove deprecated Extra.allow from document models
  emmet-core/emmet/core/openff/tasks.py
  emmet-core/emmet/core/openmm/tasks.py
  emmet-core/emmet/core/vasp/calculation.py
Labels: Core, pydantic
