Repository materialsproject/emmet, pull requests merged in 2024-06, with the labels that each got.

#1022 make ml dependencies optional for emmet-builders
  emmet-builders/setup.py
Labels: dependencies, Builders

#1032 Automated dependency upgrades
  emmet-api/requirements/ubuntu-latest_py3.10.txt
  emmet-api/requirements/ubuntu-latest_py3.10_extras.txt
  emmet-api/requirements/ubuntu-latest_py3.11.txt
  emmet-api/requirements/ubuntu-latest_py3.11_extras.txt
  emmet-api/requirements/ubuntu-latest_py3.9.txt
  emmet-api/requirements/ubuntu-latest_py3.9_extras.txt
  emmet-builders/requirements/ubuntu-latest_py3.10.txt
  emmet-builders/requirements/ubuntu-latest_py3.10_extras.txt
  emmet-builders/requirements/ubuntu-latest_py3.11.txt
  emmet-builders/requirements/ubuntu-latest_py3.11_extras.txt
  emmet-builders/requirements/ubuntu-latest_py3.9.txt
  emmet-builders/requirements/ubuntu-latest_py3.9_extras.txt
  emmet-core/requirements/ubuntu-latest_py3.10.txt
  emmet-core/requirements/ubuntu-latest_py3.10_extras.txt
  emmet-core/requirements/ubuntu-latest_py3.11.txt
  emmet-core/requirements/ubuntu-latest_py3.11_extras.txt
  emmet-core/requirements/ubuntu-latest_py3.9.txt
  emmet-core/requirements/ubuntu-latest_py3.9_extras.txt
Labels: release:patch

#1030 Add validator to address VASP change
  emmet-core/emmet/core/tasks.py
Labels: Core, vasp

#1033 Ensure run, calc, and task types are always refreshed in TaskDoc
  emmet-core/emmet/core/tasks.py
Labels: Core, vasp

#1041 Change pull_request to run_id in builder_meta
  emmet-core/emmet/core/base.py
Labels: Core, pydantic
